*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.full{
    float: left;
    margin: 5px;
}
#image{
    width: 130px;
}
.row{
    float: left;
}
#price{
    margin-top: 5px;
}
#size{
    margin-top: 5px;
}
.details{
    margin: 3px;
    color: red;
    position: relative;
    left: 5px;
}
h6{
    width: 130px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}