{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selling list</title>
    <link rel="stylesheet" href="{% static 'css/hook.css' %}">
</head>
<body>
    <div class="full">
        <div>
            <img src="{% static 'images/batman.jpg' %}" alt="" id="image"><br>
            <div class="detalsfix">
                <h3>Name:</h3>
                <h3 id="price_1">Price:</h3>
                <h3 id="size_1">Size:</h3>
            </div>
        </div>
        <div class="details">
            <p id="name">sayem</p>
            <p id="price">500</p>
            <p id="size">XL</p>
        </div>
        <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, commodi laboriosam minus, incidunt odit veniam eos ad perferendis nostrum ipsa velit totam sint molestias fugiat fugit sapiente corporis voluptatem, a beatae maxime vitae enim possimus rerum error? Ratione vel iure temporibus esse quas, atque blanditiis velit facere est laboriosam recusandae?</h6>
    </div>
    
    
</body>
</html>