{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selling list</title>
    <link rel="stylesheet" href="{% static 'css/styls.css' %}">
</head>
<body>
    {% for sell in sells %}
    <div class="full">
            <img src="{{sell.img.url}}" alt="" id="image"><br>
            <div class="row">
                <h3>Name:</h3>
                <h3>Price :</h3>
                <h3>Size :</h3>
            </div>
            <div class="details">
                <p id="name">{{sell.name}}</p>
                <p id="price">{{sell.price}}</p>
                <p id="size">{{sell.size}}</p>
            </div>
        <h6>{{sell.disc}}</h6>
    </div>
    {% endfor %}
</body>
</html>